<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<title><%= @page_title.present? ? "#{@page_title} &mdash; #{@blog_title}".html_safe : @blog_title.html_safe %></title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<%= stylesheet_link_tag "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>

<body>
	<header>

	</header>

	<aside role="nav">
		<nav role="home">
			<%= link_to(root_url) do %>
				<i class="icon-home"></i>
			<% end %>
		</nav>
		
		<nav role="meta">
			<ul>
				<li>Hello.</li>
				<li>This is.</li>
				<li>A place to put.</li>
				<li>Some information.</li>
				<li>About yourself.</li>
			</ul>
		</nav>
		
		<nav role="meta-dynamic">
			<ul>
				<li>You can put.</li>
				<li>More frequently changing.</li>
				<li>Information here.</li>
			</ul>
		</nav>
		
		<nav role="archives">
			<ul>
				<li>Other posts <%= link_to('this month', archives_by_month_url(:year => Time.new.year, :month => Time.new.strftime("%m"))) %>.</li>
				<li>Archives for <%= link_to('last month', archives_by_month_url(:year => 1.month.ago.year, :month => 1.month.ago.strftime("%m"))) %>.</li>
			</ul>
		</nav>
	</aside>

	<div role="main">
		<%= yield %>
	</div>

	<footer>
		<p class="copyright">
			&copy; <%= Time.new.year %> &mdash; Original work licensed under a 
			<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported">Creative Commons (BY-NC-SA 3.0) License</a>.
		</p>
	</footer>
  
  <aside role="supplemental">
    
  </aside>

	<!-- If you want to use Google Analytics, update and uncomment the code below. -->
	<!-- 
	<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
	-->
</body>
</html>
